In [4]:
import pandas as pd
import numpy as np
import os
import seaborn as sns

### 1.Problem Statment

### 2.Data Gathering

In [54]:
df=pd.read_excel("Supply_chain.xlsx")
df.head()

,Type,Days for shipping (real),Days for shipment (scheduled),Benefit per order,Sales per customer,Delivery Status,Late_delivery_risk,Category Id,Category Name,Customer City,...,Order Zipcode,Product Card Id,Product Category Id,Product Description,Product Image,Product Name,Product Price,Product Status,shipping date (DateOrders),Shipping Mode
0,DEBIT,3,4,91.250000,314.640015,Advance shipping,0,73,Sporting Goods,Caguas,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,2018-03-02 22:56:00,Standard Class
1,TRANSFER,5,4,-249.089996,311.359985,Late delivery,1,73,Sporting Goods,Caguas,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/18/2018 12:27,Standard Class
2,CASH,4,4,-247.779999,309.720001,Shipping on time,0,73,Sporting Goods,San Jose,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/17/2018 12:06,Standard Class
3,DEBIT,3,4,22.860001,304.809998,Advance shipping,0,73,Sporting Goods,Los Angeles,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/16/2018 11:45,Standard Class
4,PAYMENT,2,4,134.210007,298.250000,Advance shipping,0,73,Sporting Goods,Caguas,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/15/2018 11:24,Standard Class

In [56]:
pd.set_option("display.max_columns",None)
df

,Type,Days for shipping (real),Days for shipment (scheduled),Benefit per order,Sales per customer,Delivery Status,Late_delivery_risk,Category Id,Category Name,Customer City,Customer Country,Customer Email,Customer Fname,Customer Id,Customer Lname,Customer Password,Customer Segment,Customer State,Customer Street,Customer Zipcode,Department Id,Department Name,Latitude,Longitude,Market,Order City,Order Country,Order Customer Id,order date (DateOrders),Order Id,Order Item Cardprod Id,Order Item Discount,Order Item Discount Rate,Order Item Id,Order Item Product Price,Order Item Profit Ratio,Order Item Quantity,Sales,Order Item Total,Order Profit Per Order,Order Region,Order State,Order Status,Order Zipcode,Product Card Id,Product Category Id,Product Description,Product Image,Product Name,Product Price,Product Status,shipping date (DateOrders),Shipping Mode
0,DEBIT,3,4,91.250000,314.640015,Advance shipping,0,73,Sporting Goods,Caguas,Puerto Rico,XXXXXXXXX,Cally,20755,Holloway,XXXXXXXXX,Consumer,PR,5365 Noble Nectar Island,725,2,Fitness,18.251453,-66.037056,Pacific Asia,Bekasi,Indonesia,20755,1/31/2018 22:56,77202,1360,13.110000,0.04,180517,327.75,0.29,1,327.75,314.640015,91.250000,Southeast Asia,Java Occidental,COMPLETE,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,2018-03-02 22:56:00,Standard Class
1,TRANSFER,5,4,-249.089996,311.359985,Late delivery,1,73,Sporting Goods,Caguas,Puerto Rico,XXXXXXXXX,Irene,19492,Luna,XXXXXXXXX,Consumer,PR,2679 Rustic Loop,725,2,Fitness,18.279451,-66.037064,Pacific Asia,Bikaner,India,19492,1/13/2018 12:27,75939,1360,16.389999,0.05,179254,327.75,-0.80,1,327.75,311.359985,-249.089996,South Asia,RajastÃ¡n,PENDING,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/18/2018 12:27,Standard Class
2,CASH,4,4,-247.779999,309.720001,Shipping on time,0,73,Sporting Goods,San Jose,EE. UU.,XXXXXXXXX,Gillian,19491,Maldonado,XXXXXXXXX,Consumer,CA,8510 Round Bear Gate,95125,2,Fitness,37.292233,-121.881279,Pacific Asia,Bikaner,India,19491,1/13/2018 12:06,75938,1360,18.030001,0.06,179253,327.75,-0.80,1,327.75,309.720001,-247.779999,South Asia,RajastÃ¡n,CLOSED,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/17/2018 12:06,Standard Class
3,DEBIT,3,4,22.860001,304.809998,Advance shipping,0,73,Sporting Goods,Los Angeles,EE. UU.,XXXXXXXXX,Tana,19490,Tate,XXXXXXXXX,Home Office,CA,3200 Amber Bend,90027,2,Fitness,34.125946,-118.291016,Pacific Asia,Townsville,Australia,19490,1/13/2018 11:45,75937,1360,22.940001,0.07,179252,327.75,0.08,1,327.75,304.809998,22.860001,Oceania,Queensland,COMPLETE,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/16/2018 11:45,Standard Class
4,PAYMENT,2,4,134.210007,298.250000,Advance shipping,0,73,Sporting Goods,Caguas,Puerto Rico,XXXXXXXXX,Orli,19489,Hendricks,XXXXXXXXX,Corporate,PR,8671 Iron Anchor Corners,725,2,Fitness,18.253769,-66.037048,Pacific Asia,Townsville,Australia,19489,1/13/2018 11:24,75936,1360,29.500000,0.09,179251,327.75,0.45,1,327.75,298.250000,134.210007,Oceania,Queensland,PENDING_PAYMENT,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/15/2018 11:24,Standard Class
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,DEBIT,6,4,-459.670013,278.589996,Late delivery,1,73,Sporting Goods,Taylor,EE. UU.,XXXXXXXXX,Renee,19413,Morales,XXXXXXXXX,Corporate,MI,1497 Sleepy Thicket,48180,2,Fitness,42.523655,-85.694458,Pacific Asia,Rockhampton,Australia,19413,2018-12-01 08:47:00,75860,1360,49.160000,0.15,179175,327.75,-1.65,1,327.75,278.589996,-459.670013,Oceania,Queensland,COMPLETE,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/18/2018 8:47,Standard Class
395,TRANSFER,5,4,-61.939999,275.309998,Shipping canceled,0,73,Sporting Goods,Caguas,Puerto Rico,XXXXXXXXX,Iola,19412,King,XXXXXXXXX,Corporate,PR,5012 Honey Wagon Stead,725,2,Fitness,18.298830,-66.037064,Pacific Asia,Siping,China,19412,2018-12-01 08:26:00,75859,1360,52.439999,0.16,179174,327.75,-0.23,1,327.75,275.309998,-61.939999,Eastern Asia,Jilin,SUSPECTED_FRAUD,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/17/2018 8:26,Standard Class
396,DEBIT,4,2,111.529999,272.029999,Late delivery,1,73,Sporting Goods,Chicago,EE. UU.,XXXXXXXXX,Tamekah,19411,Blair,XXXXXXXXX,Corporate,IL,8832 Old Quay,60637,2,Fitness,41.782806,-87.614647,Pacific Asia,Perth,Australia,19411,2018-12-01 08:05:00,75858,1360,55.720001,0.17,179173,327.75,0.41,1,327.75,272.029999,111.529999,Oceania,Australia Occidental,COMPLETE,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/16/2018 8:05,Second Class
397,DEBIT,3,4,131.690002,268.760010,Advance shipping,0,73,Sporting Goods,Caguas,Puerto Rico,XXXXXXXXX,Cherokee,19410,Huffman,XXXXXXXXX,Corporate,PR,8707 Foggy View,725,2,Fitness,18.292446,-66.037064,Pacific Asia,Perth,Australia,19410,2018-12-01 07:44:00,75857,1360,59.000000,0.18,179172,327.75,0.49,1,327.75,268.760010,131.690002,Oceania,Australia Occidental,COMPLETE,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/15/2018 7:44,Standard Class
398,DEBIT,2,2,85.220001,262.200012,Shipping on time,0,73,Sporting Goods,Detroit,EE. UU.,XXXXXXXXX,Odessa,19409,Cherry,XXXXXXXXX,Corporate,MI,4148 Indian Landing,48205,2,Fitness,42.401096,-82.925133,Pacific Asia,ShanghÃ¡i,China,19409,2018-12-01 07:23:00,75856,1360,65.550003,0.20,179171,327.75,0.33,1,327.75,262.200012,85.220001,Eastern Asia,ShanghÃ¡i,ON_HOLD,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/14/2018 7:23,Second Class

### 3.EDA

In [14]:
df.shape

(399, 53)

#### 3.1 Missing values

In [8]:
df.isna()

,Type,Days for shipping (real),Days for shipment (scheduled),Benefit per order,Sales per customer,Delivery Status,Late_delivery_risk,Category Id,Category Name,Customer City,...,Order Zipcode,Product Card Id,Product Category Id,Product Description,Product Image,Product Name,Product Price,Product Status,shipping date (DateOrders),Shipping Mode
0,False,False,False,False,False,False,False,False,False,False,...,True,False,False,True,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,True,False,False,True,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,True,False,False,True,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,True,False,False,True,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,True,False,False,True,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,False,False,False,False,False,False,False,False,False,False,...,True,False,False,True,False,False,False,False,False,False
395,False,False,False,False,False,False,False,False,False,False,...,True,False,False,True,False,False,False,False,False,False
396,False,False,False,False,False,False,False,False,False,False,...,True,False,False,True,False,False,False,False,False,False
397,False,False,False,False,False,False,False,False,False,False,...,True,False,False,True,False,False,False,False,False,False
398,False,False,False,False,False,False,False,False,False,False,...,True,False,False,True,False,False,False,False,False,False

In [9]:
df.isna().sum()

Type                               0
Days for shipping (real)           0
Days for shipment (scheduled)      0
Benefit per order                  0
Sales per customer                 0
Delivery Status                    0
Late_delivery_risk                 0
Category Id                        0
Category Name                      0
Customer City                      0
Customer Country                   0
Customer Email                     0
Customer Fname                     0
Customer Id                        0
Customer Lname                     0
Customer Password                  0
Customer Segment                   0
Customer State                     0
Customer Street                    0
Customer Zipcode                   0
Department Id                      0
Department Name                    0
Latitude                           0
Longitude                          0
Market                             0
Order City                         0
Order Country                      0
Order Customer Id                  0
order date (DateOrders)            0
Order Id                           0
Order Item Cardprod Id             0
Order Item Discount                0
Order Item Discount Rate           0
Order Item Id                      0
Order Item Product Price           0
Order Item Profit Ratio            0
Order Item Quantity                0
Sales                              0
Order Item Total                   0
Order Profit Per Order             0
Order Region                       0
Order State                        0
Order Status                       0
Order Zipcode                    382
Product Card Id                    0
Product Category Id                0
Product Description              399
Product Image                      0
Product Name                       0
Product Price                      0
Product Status                     0
shipping date (DateOrders)         0
Shipping Mode                      0
dtype: int64

In [46]:
print(df['column name'])

KeyError: 'column name'

In [50]:
unique_values = df['Sales per customer'].nunique()
print(unique_values)

200